@font-face {
    font-family: 'lora-regular';
    src: url('lora-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora-regular';
    src: url('lora-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lora-regular';
    src: url('lora-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}